{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'bookmark/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'bookmark/css/style.css' %}">

</head>
<body>
<div class="main">
    <div class="menu">
        <div class="logo"><img src="{% static 'bookmark/images/bookmark.png' %}" width="43px" height="53px"> Многофунциональный онлайн дневник</div>
        <ul>
            <li>Меню</li>
            <li> <a href="/bookmark">Закладки</a></li>
            <li> <a href="#">Цели</a></li>
            <li> <a href="#">Планировщик</a></li>
            <li> <a href="#">Личный дневник</a></li>
            <li> <a href="#">Заметки</a></li>
            <li> <a href="#">Конспекты</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="bookmarks-title"><h1>Закладки</h1></div>
        {% block categories %}
        {% endblock categories %}
        {% block form %} {% endblock form %}

            {% block content %}
            {% endblock content %}

    </div>
</div>
</body>
</html>